<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
                    <string>https://code.csdn.net/yangdm0209/ctq/blob/master/app/zhoukoumj.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.mahjong.zhoukou</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>乐乐周口麻将</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>